<header>
    <div class="wrapper">
        <a class="logo" href="/">Phone Usage</a>
        <ul>
            <li><a class="buttons" href="/new">Enter Phone Usage</a></li>
            <li><a class="buttons" href="/check">Check Phone Usage</a></li>
            <li><a class="buttons" href="/update">Update Phone Usage</a></li>
            <li><a class="buttons" href="/delete">Delete Phone Usage</a></li>
            <li><a class="buttons" href="/help">Help</a></li>
            <li><a class="buttons" href="/about">About Us</a></li>
        </ul>
    </div>
</header>