<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheet/style.css"/>
</head>
<body>
<div class="sticker">
    <%- include('partials/header'); -%>
    <div class="center">
        <h1>About Page</h1>
        <p>Phone daily usage is a website for you to keep track of your daily phone usage</p>
        <p>Website created by Luis Caldas from the SDH2-A class</p>
        <p>Go to 'Enter Phone Usage' to enter your phone usage</p>
    </div>
    <div class="pusher"></div>
</div>
<%- include('partials/footer'); -%>
</body>
</html>  