<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheet/style.css"/>
</head>
<body>
<div class="sticker">
    <%- include('partials/header'); -%>
    <%- include('partials/table'); -%>
    <div class="pusher"></div>
</div>
<%- include('partials/footer'); -%>
</body>
</html>